

*{
    box-sizing: border-box;
    transition: all .3s ease;

}
body{
  padding: 0;
    margin: 0;  
}
.container{
    max-width: 1200px;
    transition: all .3s ease;
    padding: 0 15px;
    margin: 0 auto;
    /* display: flex; */
}
.btn{
    min-width: 132px;
    padding: 10px 35px;
    outline: none;
    background-color: #ec8211;
    border: none;
    border-radius: 8px;
    color: #fff;
    margin-top: 16px;
}   
.btn-stroke{
    background-color: #fff;
    color: #ec8211;
    border: solid 1px #ec8211;
    border-radius: 8px;

}

/* HEADER - start */
header{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 10000;
   
}
.menu__list{
    /* height: 150px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
   
}   
.menu__item a{
    padding: 10px 35px;
    text-decoration: none;
    color: #737C8B;
    display: block;
}
.menu__item.active a{
    color: black;
}

.header__wrap{
    padding: 40px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

.menu__wrap{
  display: flex;
  flex-direction: row;  
  justify-content: flex-end ;
}

/* HEADER - end */


/* HERO - start */
.hero{
    padding-top: 126px;

}
.hero__wrap{
    display: flex;
    flex-direction: row;
}
.hero__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}
.hero__image{
    width: 50%;
}
h1{
    padding: 50px 50px;
    font-size: 64px;
}
form{
    width: 100%;
    display: flex;
   
    flex-direction: row;
    flex-wrap: wrap;
    padding: 17px 10px;
 
}
select{
    width: 219px;
     height: 46px;
   margin: 15px;
}

/* .btn1{
    min-width: 132px;
    padding: 10px 35px;
    outline: none;
    background-color: #ec8211;
    border: none;
    border-radius: 8px;
    margin: 25px;
    color: #fff;
} */
.formtravel{
    margin: 13px 26px;
}
h4{
    font-family: 'Playfair Display', serif; 
    font-weight: 700; 
}
/* HERO - end */


/* HERO2 */
.explore{
    padding: 126px  140px;
}
.explore__wrap{
   
    display: flex;
    flex-direction: row;
}
.explore__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  
    
}
/* .hero2__texts{
     padding: 60px ;
} */
p{
    /* width: 90%; */
    font-size: 21px;
    line-height: 150%;
    color: rgb(138, 138, 138);
    /* margin-left: 25px; */
    font-family: 'Mulish', sans-serif;
    line-height: 30px;
   
}
h2{
    font-size: 29px;
     /* padding: 30px 0 15px 30px; */
     font-family: 'Playfair Display', serif;
     /* margin-bottom: 25px; */
     font-weight: 700;
     line-height: 50px;
}
.explore__image{
  margin-right: 51px; 
}

/* HERO END

 HERO 3   */
 .guid{
    padding: 126px 140px;
}
 .guid__wrap{
    display: flex;
    flex-direction: row;
}
.guid__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}
.guid__image{
    width: 50%;
    
}
/* .guid__text{
  
    font-size: 15px;
    line-height: 150%;
    color: rgb(138, 138, 138);
   margin-right: 30px ;
   font-family: 'Mulish', sans-serif;
    
}
.guid__title{
    font-size: 36px;
     margin: 50px 50px;
} */
.btn2{
    margin: 58px 93px;
}
/* hero5 */
.offer{
    padding: 126px 140px;
}
 .offer__wrap{
    display: flex;
    flex-direction: row;
}
h3{
    font-size: 20px;
}
.cards{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}
/* .pick{
    /* width: 100%;
    height: auto; */
    /* margin: 10px;
    width: 220px;
    height: 200px; */

 
.pictures{
    margin: 10px;
    width: 220px;
    height: 200px;
    }

.offer__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link{
    color: #d67002;
    text-decoration: none;
}

.proposal__item{
    position: relative;
}
.proposal__text{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(182, 121, 121) ; 
    padding-bottom:0;
    padding-right: 50px;
    padding-top: 0;
    
   
}
.info{
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    color: rgb(160, 160, 160);
    font-weight: bold;
    top: 0;
}
/* /SLIDER/ */
.slider{
    position: relative;
    }
.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.review__content{
    position:relative;
    width: 86.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
       /* align-items: flex-start; */
    
}
.testion{
   padding-left: 40px; 
}
.slider__content{
    margin-top: 100px;

}
 .review__btns{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ffffff;
    padding-top: 22px;
    padding-bottom: 55px;
    padding-left: 26px;
             /* padding-right: 142px;
    /* padding-bottom:92px; */
    /* padding-top: 18px;
    padding-left: 28px;  */
    border-top-left-radius:20px;
}
.slick-btn-prev{
    border-radius: 50px; 
    width: 40px;
    height: 40px;
    border: 2px solid rgb(192, 192, 192);
    background-color: #fff; 
}
.slick-btn-next{
    border-radius: 50px; 
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    background-color: #fff; 
    margin-left: 28px;

}
.review__wrap{
    display: flex;
    flex-direction: column;
    position:relative;
}
/* .paragraf{
    width: 100px;
    float: left;
    padding-left: 140px;
    
} */
/* .slider__content{

} */
.slider__item{
    display: flex;
    flex-direction: row;
    padding: 147px 142px 44px 40px;
    /* margin-left: 160px; */
}

/* button{
   
} */
/* }
.slider .slick-arrow{
    position: absolute;
    top: 90%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;
}


.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../images/previous-icon-1.jpg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-prev{
    right: 0;
    background: url('../images/kisspng-computer-icons-font-awesome-clock-time-clip-art-next-button-5ac73043304965.9710943615230034591978.jpg') 0 0 / 100% no-repeat;
} */

/* footer */
  


footer{
    position: relative;
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
    }
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}
.footer ul{
    list-style: none;
    padding-left: 0;
   }
.footer-right{
    display: flex;
    flex-direction: row;
 }
a{
    list-style-type: none;
    text-decoration: none;
    color: #848484;
}
.socials{
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content:  center;
    border-top: grey 1px solid;
   }
.soc{
    margin: 17px;
}
.footer__ctn{
    display: flex;
    flex-direction: row;
          
}
.shop{
    margin: 100px;
}
.information{
     margin-top: 110px;
     width: 33%;
}
.inf{
    margin: 30px 0;
}
.submenu li{
margin-bottom: 28px;
}
.contents{
    margin-top: 60px ;
    width: 67%;
}
